@model InstruktorerPassMVC.Models.InstruktorerPass

@{
    ViewData["Title"] = "Create Instruktor Har Pass";
}

<h2>Lägg till ny aktivitet till befintlig instruktör</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInstruktorHarPass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Instruktörens Id</label>
                <input asp-for="IP_InstruktorId" class="form-control" />
                <span asp-validation-for="IP_InstruktorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Aktivitetens Id</label>
                <input asp-for="IP_PassId" class="form-control" />
                <span asp-validation-for="IP_PassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg till aktivitet" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ReadAllaInstruktorerHarPass" class="btn btn-dark">Tillbaka</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}